.form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
}
.form__input {
  width: 100%;
  padding: 6px;
  font-family: var(--main-font);
  border: 1px solid #d5d4d8;
  border-radius: 6px;
  margin-bottom: 10px;
  outline: none;
  font-size: 1.6rem;
}
.form__button {
  border: none;
  border-radius: 6px;
  background: var(--main-gradient);
  width: 100%;
  color: white;
  font-weight: 600;
  padding: 9px;
  font-size: 1.6rem;
  opacity: 0.5;
  cursor: pointer;
}
.form__button.abled {
  opacity: 1;
}
